.archive-design {

	.image {
		.progressive {
			width: 100%;
			background-color: rgba($k, .1);
		}
	}

	.grid-image {

		img {
			// cursor: pointer;
		}
	}

	.collection-section {
		padding-top: $section-padding;
		padding-bottom: $section-padding;
		
		h2 {
			margin-bottom: 0.1em;
		}
	}

	.design-group-heading {
		margin-bottom: clamp(30px, 4vw, 50px);
	}


	.design-group {
		$box-shadow-size: 10px 10px 0;

		.grid-image .image {
			box-shadow: $box-shadow-size $gray;
			outline: 1px solid $light-gray;
			border-radius: 10px;
			overflow: hidden;
		}

		&.nextgenamerica {
			.grid-image .image {
				box-shadow: $box-shadow-size #8630AA;
				outline-color: rgba(#8630AA, 0.2);
			}
			.slick-dots button {
				border-color: #8630AA;
			}
			.slick-dots .slick-active button {
				background-color: #8630AA;
			}
		}

		&.caleitc {
			.grid-image .image {
				box-shadow: $box-shadow-size #1E76BB;
				outline-color: rgba(#1E76BB, 0.2);
			}
			.slick-dots button {
				border-color: #1E76BB;
			}
			.slick-dots .slick-active button {
				background-color: #1E76BB;
			}
		}

		&.feedingamericaaction {
			.grid-image .image {
				box-shadow: $box-shadow-size #DE7C00;
				outline-color: rgba(#DE7C00, 0.2);
			}
			.slick-dots button {
				border-color: #DE7C00;
			}
			.slick-dots .slick-active button {
				background-color: #DE7C00;
			}
		}

		&.group-static {
			display: none;
	
			@include mq-up($sm-up) {
				display: flex;
				justify-content: space-between;
				
				.grid-image {
					margin-right: 10px;
					margin-bottom: 20px;
					display: none;
				}

				&.nextgenamerica {
					.grid-image {
						&:first-child {
							display: block;
							width: 38.9%;
						}
						&:nth-child(2) {
							display: block;
							width: 26.5%;
						}
						&:nth-child(4) {
							display: block;
							width: 26.5%;
						}
					}
				}
		
				&.caleitc {
					.grid-image {
						&:first-child {
							display: block;
							width: 70.2%;
						}
						&:nth-child(3) {
							display: block;
							width: 24.6%;
						}
					}
				}
		
				&.feedingamericaaction {
					.grid-image {
						width: 47.4%;

						&:first-child {
							display: block;
						}
						&:nth-child(2) {
							display: block;
						}
					}
				}
			}
	
			@include mq-up($md-up) {
				.grid-image {
					display: block;
				}

				&.nextgenamerica {
					.grid-image {
						width: 20.4%;
		
						&:first-child {
							width: 30%;
						}
						&:nth-child(2) {
							width: 20.4%;
						}
						&:nth-child(4) {
							width: 20.4%;
						}
					}
				}
		
				&.caleitc {
					.grid-image {
						width: 40%;
						
						&:first-child {
							width: 40%;
						}
						&:nth-child(3) {
							width: 14.0%;
						}
					}
				}
		
				&.feedingamericaaction {
					.grid-image {
						width: 31.4%;
					}
				}
			}
		}
	}

	.design-carousel {
		width: calc(100% + #{$grid-gutter-width});
		margin-left: -$grid-gutter-width/2;
		margin-right: -$grid-gutter-width/2;

		@include mq-down($xs-down) {
			.image.set-mobile-size {
				height: 0;
				padding-bottom: 216%;
			}
		}
		
		@include mq-up($sm-up) {
			display: none;
		}

		.grid-image {
			padding: 0 $grid-gutter-width/2;
			padding-top: 1px;
			padding-bottom: 11px;
		}

		.slick-arrow {
			display: none !important;
		}

		.slick-dots {
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: $grid-gutter-width;
			gap: $grid-gutter-width/2;

			button {
				border-radius: 50%;
				width: 16px;
				height: 16px;
				padding: 0;
				font-size: 1px;
				color: transparent;
				border: 2px solid $gray;
				cursor: pointer;
				background-color: transparent;
			}

			.slick-active button {
				background-color: $gray;
			}
		}
	}

	.design-clients {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		gap: 30px;
		flex-wrap: wrap;

		li {
			width: 120px;
			max-width: calc(50% - 30px);
		}

		@include mq-up($sm-up) {
			li {
				width: 130px;
				max-width: calc(100% / 3 - 30px);
			}
		}
		@include mq-up($md-up) {
			li {
				width: 150px;
				max-width: calc(100% / 6 - (30px * 5 / 6));
			}
		}
		@include mq-up($lg-up) {
			justify-content: space-between;
		}
	}
	
	// @include mq-down($sm-down) {
	// }
	
	// @include mq-up($sm-up) {
	// }
}