.archive-art {
	$grid-gap-mobile: $grid-gutter-width/3;
	$grid-gap: $grid-gutter-width/2;

	.filters {
		display: flex;
		justify-content: center;
		row-gap: 0.75em;
		column-gap: 3em;
		flex-wrap: wrap;

		button {
			padding: 0;
			background: none;
			border: none;
			font-size: $base-font-size;
			cursor: pointer;
			color: $text-color;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 0.1em;
			}
		}
	}

	.grid {
			// display: flex;
			// flex-wrap: wrap;
			// gap: $grid-gap-mobile; /* Adjust the gap between grid items */
		margin-left: -$grid-gap-mobile/2;
		margin-right: -$grid-gap-mobile/2;
		width: calc(100% + #{$grid-gap-mobile});

		@include mq-up($md-up) {
			margin-left: -$grid-gap/2;
			margin-right: -$grid-gap/2;
			width: calc(100% + #{$grid-gap});
		}
	}
	
	.grid-item {
		width: calc(100%/2); /* Default width for a medium-sized item */
		margin-bottom: $grid-gap-mobile;
		padding-left: $grid-gap-mobile/2;
		padding-right: $grid-gap-mobile/2;

		@include mq-up($md-up) {
			width: calc(100%/3);
			margin-bottom: $grid-gap;
			padding-left: $grid-gap/2;
			padding-right: $grid-gap/2;
		}

		// @include mq-up($lg-up) {
		// 	width: calc(100%/4);
		// }
	}
	
	// .grid-item.small {
	// 	width: calc(100%/6 - 10px); /* Small items */
	// }
	
	// .grid-item.large {
	// 	width: calc(100%/2 - 10px); /* Large items */
	// }

	.image-wrapper {
		position: relative;
	}

	.debug {
		position: absolute;
		top: 10px;
		left: 10px;
		background-color: rgba(255,255,255, 0.8);
		color: red;
		font-size: 12px;
		z-index: 2;
		max-width: calc(100% - 20px);
		padding: 0 5px;
	}
	
	.image-wrapper img {
		width: 100%;
		height: auto;
		display: block;
	}
}