.archive-writing {

	.writing-post {
		padding: $grid-gutter-width 0;

		&:first-child {
			margin-top: -$grid-gutter-width;
		}

		@include mq-up($sm-up) {
			padding: $grid-gutter-width*2 0;

			&:first-child {
				margin-top: -$grid-gutter-width*2;
			}
		}

		@include mq-up($md-up) {
			padding: $grid-gutter-width*3 0;

			&:first-child {
				margin-top: -$header-height - $grid-gutter-width;
			}
		}

		@include mq-up($lg-up) {
			padding: $grid-gutter-width*4 0;

			&:first-child {
				margin-top: -$header-height - $grid-gutter-width;
			}
		}
	}
}