.section-image {

	.image {
		text-align: center;

		img {
			padding: 0 0 $grid-gutter-width;
			max-height: $img-max-height;
			width: auto;
		}
	}
}

.single-image {
	display: flex;
	justify-content: center;
	align-items: center;
}