{% assign post = include.post %}
{% assign cs_id = post.slug | default: post.url %}

<div class="case-study-preview">

    <a href="javascript:void(0)"
        class="case-study-trigger"
        data-id="{{ cs_id }}">
        <img src="{{ post.img_square }}" alt="{{ post.title }}">
    </a>

    <h3>
        <a href="javascript:void(0)"
        class="case-study-trigger"
        data-id="{{ cs_id }}">
            {{ post.title }}
        </a>
    </h3>

    <p>
        <a href="javascript:void(0)"
    class="case-study-trigger"
    data-id="{{ cs_id }}">
        {{ post.case_study_text | default: "View case study" }}
        </a>
    </p>

</div>



