{% assign post = include.post %}

{% capture cs_meta %}
    <div class="case-study-meta">
        {% if post.my_role %}
            <div class="cs-meta-item">
            <h3>My Role</h3>
            <ul class="cs-role">
            {% for role in post.my_role %}
                <li>{{ role }}</li>
            {% endfor %}
            </ul>
            </div>
        {% endif %}

        {% if post.client %}
            <div class="cs-meta-item">
                <h3>Client</h3>
                <p>{{ post.client }}</p>
            </div>
        {% endif %}
        
        {% if post.employer %}
            <div class="cs-meta-item">
            <h3>Employer</h3>
            <p>{{ post.employer }}</p>
            </div>
        {% endif %}

        <div class="cs-meta-item">
            <h3>Year{% if post.years %}s{% endif %}</h3>
            <p>{{ post.years | default: (post.date | date: "%Y") }}</p>
        </div>
    </div>
{% endcapture %}

<div class="case-study-content">

    <div class="cs-overview">
        <div class="cs-overview-inner">
            <h1>{{ post.title }}</h1>

            {% if post.intro %}
                <p class="intro">{{ post.intro }}</p>
            {% endif %}

            <div class="hidden-md">
                {{ cs_meta }}
            </div>
        </div>
    </div>

    <div class="cs-main">
        {% if post.img_main %}
            <div class="cs-image-main image-radius-standard {{ post.img_main_class }}">
                <img src="{{ post.img_main }}" alt="{{ post.title }}">
            </div>
        {% endif %}

        <div class="hidden-lg">
            {{ cs_meta }}
        </div>

        <div class="case-study-body">
            {{ post.content }}
        </div>
    </div>

</div>