<div id="case-study-lightbox">

    <div class="container-fluid">

        <div class="cs-lightbox-buttons">
            <button class="cs-close">Close</button>

            <div class="cs-prev-next">
                <button class="cs-prev">Prev</button>
                <button class="cs-next">Next</button>
            </div>
        </div>

        <div class="cs-slides">

        {% for item in include.posts %}

            {% if item.url %}
                {% assign post = item %}
            {% else %}
                {% assign post = site.case-studies | where: "url", item | first %}
            {% endif %}

            {% assign cs_id = post.slug | default: post.url %}

            {% if post %}
            <div class="cs-slide" data-id="{{ cs_id }}">
                {% include case-study-content.html post=post %}
            </div>
            {% endif %}

        {% endfor %}

        </div>
    </div>

</div>