<div class="next-prev">
    {% if post.previous.url %}
    	{% capture prev_link %}{{ post.previous.date | date: "%Y" }}-{{ post.previous.slug }}{% endcapture %}
    	<a href="#{{ prev_link }}"><i class="fa fa-chevron-up"></i></a>
  	{% else %}
    	<a href="#" class="no-link"><i class="fa fa-chevron-up"></i></a>
  	{% endif %}
    {% if post.next.url %}
    	{% capture next_link %}{{ post.next.date | date: "%Y" }}-{{ post.next.slug }}{% endcapture %}
    	<a href="#{{ next_link }}"><i class="fa fa-chevron-down"></i></a>
  	{% else %}
    	<a href="#" class="no-link"><i class="fa fa-chevron-down"></i></a>
  	{% endif %}
</div>