{% for post in post_collection %}
    <div class="lightbox" id="{{ post.date | date: date_format }}-{{ post.slug }}">

      <div class="container">

        <i class="fa fa-close lightbox-close"></i>
        <div class="image-wrapper lightbox-image-wrapper">

            <div class="image">
              <a href="../assets/{{ post.img }}" class="progressive replace">
                  <img src="../assets/progressive.gif" class="preview" alt="{{ site.author | escape }}, {{ post.title | escape }}, {{ post.year }}" />
              </a>
            </div>
            
            {% assign page = post %}{% assign image_details_class = "lightbox-details" %}
            {% include partial-image-details.html %}

            {% unless forloop.first %}
              <i class="fa fa-chevron-left lightbox-prev lightbox-open parent-close" data-target="#{{ prev.date | date: date_format }}-{{ prev.slug }}"></i>
            {% endunless %}
            {% assign prev = post %}
            {% assign next = post_collection[forloop.index] %}
            {% unless forloop.last %}
              <i class="fa fa-chevron-right lightbox-next lightbox-open parent-close" data-target="#{{ next.date | date: date_format }}-{{ next.slug }}"></i>
            {% endunless %}
        </div>
      </div>

    </div>
{% endfor %}