  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-light;
  padding: $grid-gutter-width 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $grid-gutter-width / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey;
  margin-left: -$grid-gutter-width / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$grid-gutter-width} / 2));
  width:         calc(35% - (#{$grid-gutter-width} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$grid-gutter-width} / 2));
  width:         calc(20% - (#{$grid-gutter-width} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$grid-gutter-width} / 2));
  width:         calc(45% - (#{$grid-gutter-width} / 2));
}

@include media-query($md-down) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$grid-gutter-width} / 2));
    width:         calc(50% - (#{$grid-gutter-width} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$grid-gutter-width} / 2));
    width:         calc(100% - (#{$grid-gutter-width} / 2));
  }
}

@include media-query($sm-down) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$grid-gutter-width} / 2));
    width:         calc(100% - (#{$grid-gutter-width} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $grid-gutter-width 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $grid-gutter-width;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $grid-gutter-width;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($md-down) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $grid-gutter-width;

  h2 {
    @include relative-font-size(2);

    @include media-query($md-down) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($md-down) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($md-down) {
      @include relative-font-size(1.125);
    }
  }
}
