---
layout: default
title: About
permalink: /about/
meta_image: photography/20160503-losangeles-01.jpg
excerpt: It's me! This is my website. Who are you? Get in touch!
container:  none
classes:
---

<div class="container">
    <div class="about-page">
        <header class="post-header">
            <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>

        <div class="about-section">
            <div class="about-image">
                <img src="/assets/photography/20230318-brooklyn-01.jpg" alt="Self portrait by me, Stephen Cummings" />
            </div>
            <div class="about-content">
                <h2>Hello! I'm Stephen. I make things.</h2>

                <p>Stephen Cummings is a <a href="/photography/">photographer</a>, <a href="/design/">designer</a>, editor, and <a href="/art/">artist</a>, currently based in Brooklyn, New York. He studied painting and drawing at Arizona State University and the University of Washington, and documentary photography and visual journalism at the International Center of Photography. He has worked as a writer, political organizer, web designer, and is a co-curator of the art series <a href="https://www.instagram.com/welcome_to_salad/" target="_blank">Salad</a>, which premiered in Brooklyn in 2023. His photography focuses on spaces and the ways people create, inhabit, and navigate them.</p>

                <ul id="contact" class="about-contact">
                    <li><a href="mailto:sscummings+website@gmail.com" target="_blank">sscummings@gmail.com</a></li>
                    <li><a href="https://www.instagram.com/stephen.sideb/" target="_blank">@stephen.sideb</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="background-page section-padded-top">

    <div class="container">
        <header class="post-header">
            <h2 class="post-title">Background</h2>
            <p>My path to photography wasn’t a straight line and I’m sure the path forward won’t be either. <br class="hidden-sm" />This is some of what I’ve been up to.</p>
        </header>
    </div>
    
    <div class="container-fluid">
        <div class="background-content">
            {% for bg in site.data.background %}
                {% capture block_img %}
                    <div class="background-block-image-wrap">
                        <img
                            alt="{{ bg.imgAlt | escape }}"
                            class="{{ img_classes }}"
                            src="../../assets/{{ bg.img }}"
                        />
                    </div>
                {% endcapture %}
                <div class="background-block">
                    {% if bg.link %}
                        <a
                            class="background-block-image image-radius-standard image-hover-zoom"
                            href="{{ bg.link }}"
                        >
                            {{ block_img }}
                        </a>
                    {% else %}
                        <div class="background-block-image image-radius-standard">
                            {{ block_img }}
                        </div>
                    {% endif %}
                    <div class="background-blurb">
                        {% if bg.name %}
                            <h2>{{ bg.name }}</h2>
                        {% endif %}
                        {% if bg.blurb %}
                            <p>{{ bg.blurb }}</p>
                        {% endif %}
                        {% if bg.link and bg.linkText %}
                            <a
                                class="arrow-link"
                                href="{{ bg.link }}"
                            >
                                <span>{{ bg.linkText }}</span>
                                {% include icon-arrow_right.html %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>
