---
layout:     default
title:      Photography
permalink:  /photography/
container:  container-fluid
classes:    dark
meta_image: photography/20191115-concord-03.jpg
---
<section class="archive-photography">
	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
        <p>Capturing campaigns, causes, creativity, and everything else.</p>
	</header>
    
    {% assign sorted_photography = site.photography | sort: 'date' | reverse %}

    {% assign curated_photos = site.data.curated_photography %}

    {% assign link_classes = "progressive replace" %}
    {% assign img_classes = "preview" %}
    {% assign img_src = "../assets/progressive.gif" %}
    {% assign lightbox_name = "photography" %}

    <div class="photo-grid">
        {% for group in curated_photos %}
            <div class="grid-group {{ group.layout }}">
                {% for post_url in group.posts %}
                    {% assign post = site.photography | where: "url", post_url | first %}
                    {% if post %}
                        {% include photo-grid-image.html %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</section>
