---
layout: default
title: Design
permalink: /design/
meta_image: design/2015-duplicity-04-meta.png
---
<section class="archive-design">
	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
        <p>I help organizations and individuals bring their ideas to life.</p>
	</header>

    {% assign sorted_design = site.design | sort: 'date' | reverse %}
  
    <div class="collection-section">
        <h2>Golden State Opportunity</h2>
        <div class="collection-wrapper">
            {% assign grid_image_classes = "grid-image-wide" %}
            {% for post in site.design %}
                {% if post.categories contains "caleitc4me" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
            {% assign grid_image_classes = null %}
        </div>
    </div>
  
    <div class="collection-section">
        <h2>Gina Ortiz Jones</h2>
        <div class="collection-wrapper">
            {% for post in site.design %}
                {% if post.categories contains "gina ortiz jones" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
  
    <div class="collection-section">
        <h2>Tech for Campaigns - Karen Settlemoir Berg</h2>
        <div class="collection-wrapper grid-xs">
            {% assign grid_image_classes = "grid-image-half-mobile" %}
            {% for post in site.design %}
                {% if post.categories contains "karen settlemoir berg" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
            {% assign grid_image_classes = null %}
        </div>
    </div>
  
    <div class="collection-section">
        <h2>Duplicity Ensemble</h2>
        <div class="collection-wrapper">
            {% for post in site.design %}
                {% if post.categories contains "duplicity ensemble" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
  
    <div class="collection-section">
        <h2>Charlie Crist for Governor</h2>
        <div class="collection-wrapper">
            {% assign grid_image_classes = "grid-image-wide" %}
            {% for post in site.design %}
                {% if post.categories contains "charlie crist for governor" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
            {% assign grid_image_classes = null %}
        </div>
    </div>
  
    <div class="collection-section">
        <h2>OFA - Texas</h2>
        <div class="collection-wrapper">
            {% for post in site.design %}
                {% if post.categories contains "ofa-tx" %}
                    {% include partial-design-img.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% assign post_collection = sorted_design %}
    {% assign date_format = '%Y' %}

    {% comment %}
        {% include partial-lightbox.html %}
    {% endcomment %}

</section>
