---
layout: default
title: Events
permalink: /events/
---
<section class="archive-events">
  
    {% for post in site.events %}
    	<div class="event-post scroll-section {% if forloop.first == true %}active{% endif %}" id="{{ post.event_date | date: '%Y-%m-%d' }}-{{ post.slug }}">
    		{% include post-event.html %}

    		{% assign post_type = site.events %}
    		{% assign prev_date = prev.event_date | date: "%Y-%m-%d" %}
    		{% assign next = post_type[forloop.index] %}
    		{% assign next_date = next.event_date | date: "%Y-%m-%d" %}

			{% include partial-next-prev.html %}
    	</div>
    {% endfor %}

</section>
