---
layout: default
title: Art
permalink: /art/
---
<div class="archive-art">

    {% for post in site.art %}
    	<section class="art-section section-image scroll-section {% if forloop.first == true %}active{% endif %}" id="{{ post.year }}-{{ post.slug }}">
		    <div class="art-preview">

		    	<div class="image-wrapper">
				    {% if post.img %}
				    	<div class="image {% for cat in post.categories %}{{ cat }} {% endfor %}">
				    		{% comment %} ## Progressive image setup ## {% endcomment %}
				    		<a href="../assets/{{ post.img }}" class="progressive replace">
							 	<img src="../assets/progressive.gif" class="preview" alt="{{ site.author | escape }}, {{ post.title | escape }}, {{ post.year }}" />
							</a>
							{% comment %}
								## Original image setup ##
								<img src="../assets/{{ post.img }}" alt="{{ site.author | escape }}, {{ post.title | escape }}, {{ post.year }}" />
							{% endcomment %}
						</div>
				    {% endif %}

					{% assign title_link = true %}
					{% include partial-image-details.html %}
				</div>
			</div>

			{% assign post_type = site.art %}
    		{% assign prev_date = prev.date | date: "%Y" %}
    		{% assign next = post_type[forloop.index] %}
    		{% assign next_date = next.date | date: "%Y" %}
    		
			{% include partial-next-prev.html %}
		</section>
    {% endfor %}

</div>
