.bg-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.image-details {
	font-family: $font-mono;

	.image-title {
		font-size: $base-font-size;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.image-title,
	span {
		display: inline;
		margin-bottom: 0;

		&:after {
			content: ".";
			display: inline;
			margin-left: .1em;
			margin-right: .5em;
		}

		&:last-child {
			&:after {
				margin-right: 0;
			}
		}
	}

	&.lightbox-details {
		color: rgba($white, .8);
	}
}

/* */
/* Type */
/* */
h2 {
	font-size: clamp(1.5em, 4vw, 1.75em);
	line-height: 1.3;
	margin-bottom: 0.25em;

	@include mq-up($md-up) {
		font-size: 2em;
	}
}

p, ul, ol {
	@include mq-up($md-up) {
		@include relative-font-size(1.125);
	}
}