<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if page.classes %}{{ page.classes }}{% else %}body-{{ page.title | slugify }}{% endif %}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="{% if page.container %}{{ page.container }}{% else %}container{% endif %}">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="/node_modules/lightbox2/dist/js/lightbox.js"></script>
  <script src="/node_modules/slick-carousel/slick/slick.min.js"></script>
  
  <script src="/assets/main.js"></script>

</html>
