---
layout: default
container: "container-fluid"
---

<div class="home">

  {% comment %}
  <div class="intro">
    <h1 class="page-heading"><span style="display:inline-block;">Stephen Cummings</span></h1>
  </div>
  {% endcomment %}

  {% assign lightbox_name = "home" %}

  {% capture home_mix %}
    {% for item in site.collections %}
      {% for post in item.docs %}
        {% if post.homeMix == true %}
          {% include photo-lightbox.html %}
          {% assign img_src = null %}
          {% comment %}
          <div class="item-square {{ post.collection }} collection-{{ post.collection }} {{ post.featured_subject }} featured">
            <a class="bg-img" href="/{{ post.collection }}" style="background-image: url('../assets/{{ post.img }}');">
                <span class="title">{{ post.title }}</span>
                <span class="more">More {{ post.collection }} <i class="fa fa-chevron-right"></i></span>
                {% comment %}
                  <span class="collection">{{ post.collection }}</span>
                  <span class="preview">{{ post.content | strip_html }}</span>
                {% endcomment %}
            </a>
          </div>
          {% endcomment %}
          {% if forloop.last == false %}:::{% endif%}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endcapture %}
  {% assign home_mix_array = home_mix | split: ':::'%}

  <div class="outer-grid {{ outerGridClass }}">
  
    {% assign no_mix = null %}
    
    {% for item in site.collections %}
      {% for post in item.docs %}
        {% if post.featured == true %}
          <div class="item-square {{ post.collection }} collection-{{ post.collection }} {{ post.featured_subject }} featured">
            <a class="bg-img" href="{{ post.url }}" style="background-image: url('../assets/{{ post.img }}');">
                <span class="title">{{ post.title }}</span>
                <span class="more"><i class="fa fa-chevron-right"></i></span>
                {% comment %}
                  <span class="collection">{{ post.collection }}</span>
                  <span class="preview">{{ post.content | strip_html }}</span>
                {% endcomment %}
            </a>
          </div>
          {% assign featured = post.collection %}
          {% assign no_mix = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if no_mix != true %}
      {{ home_mix_array[2] }}
      {{ home_mix_array[6] }}
      {{ home_mix_array[11] }}
      {{ home_mix_array[8] }}
      {{ home_mix_array[3] }}
      {{ home_mix_array[5] }}
      {{ home_mix_array[4] }}
      {{ home_mix_array[9] }}
      {{ home_mix_array[10] }}
      {{ home_mix_array[1] }}
      {{ home_mix_array[7] }}
      {{ home_mix_array[0] }}
    {% endif %}

    {% comment %}
    <div class="grid">

      {% include collection-preview.html collection=site.art %}

      {% include collection-preview.html collection=site.design %}

      {% include collection-preview.html collection=site.photography %}

      {% include collection-preview.html collection=site.writing %}

    </div>
    {% endcomment %}
  </div>

</div>




  {% comment %}
  # # # # # # #
    {{ content }}

    ...

    {% for event in site.events %}
      <div>
        <h2>
          <a class="post-link" href="{{ event.url | relative_url }}">{{ event.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
    {% for announcement in site.announcements %}
      <div>
        <h2>
          <a class="post-link" href="{{ announcement.url | relative_url }}">{{ announcement.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}

    ...

    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    
    {% for post in site.posts %}
      <div>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
  # # # # # # #
  {% endcomment %}
