---
layout: default
---

<div class="home">

  <h1 class="page-heading">Stuff</h1>
  
  {{ content }}

  <div class="post-list">
    {% for post in site.posts %}
      <div>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
  </div>

  {% comment %}
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <span class="post-meta">{{ post.date | date: date_format }}</span>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endcomment %}

</div>
