---
layout: default
container:  none
---

{% assign portfolio = page.datafile | prepend: "site.data." | replace: ".", "" %}

{% assign groups = site.data[page.datafile] %}

{% assign headline = page.headline | default: groups[0].headline %}
{% assign intro = page.intro | default: groups[0].intro %}
{% assign end_headline = page.end_headline | default: groups[0].end_headline %}
{% assign end_text = page.end_text | default: groups[0].end_text %}

{% assign case_study_posts = nil %}

{% if page.datafile %}
  {% assign case_study_posts = "" | split: "" %}

  {% for post_url in groups[0].case_studies %}
    {% assign post = site.case-studies | where: "url", post_url | first %}
    {% if post %}
      {% assign case_study_posts = case_study_posts | push: post %}
    {% endif %}
  {% endfor %}

{% else %}
  {% assign case_study_posts = site.case-studies %}
{% endif %}

{% assign case_studies_count = case_study_posts | size %}

{% assign grid_class = "three-projects" %}

{% if case_studies_count == 4 %}
  {% assign grid_class = "four-projects" %}
{% endif %}

<section class="portfolio">
    
    {% if headline or intro %}
        <div class="container">
            <header class="post-header {{ page.header_classes }}">
                {% if headline %}
                    <h1 class="post-title">{{ headline }}</h1>
                {% endif %}

                {% if intro %}
                    <p>{{ intro }}</p>
                {% endif %}
            </header>

            {% if page.no_intro != "true" and intro == nil %}
                <div class="cs-intro">
                    <h2>Portfolio</h2>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="projects-grid {{ grid_class }}">

        {% for post in case_study_posts %}
            {% include case-study-preview.html post=post index=forloop.index0 %}
        {% endfor %}

        </div>
    </div>

    {% if end_headline or end_text %}
        <div class="end-section">
            <div class="container-medium">
                <div class="design-group-heading text-left">
                    {% if end_headline %}
                        <h2>{{ end_headline }}</h2>
                    {% endif %}
                    {% if end_text %}
                        <p>{{ end_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include case-study-lightbox.html posts=case_study_posts %}

</section>