---
layout: default
container:  none
---

{% assign portfolio = page.datafile | prepend: "site.data." | replace: ".", "" %}

{% assign groups = site.data[page.datafile] %}

{% assign headline = page.headline | default: groups[0].headline %}
{% assign intro = page.intro | default: groups[0].intro %}

{% assign case_study_posts = nil %}

{% if page.datafile %}
  {% assign case_study_posts = "" | split: "" %}

  {% for post_url in groups[0].case_studies %}
    {% assign post = site.case-studies | where: "url", post_url | first %}
    {% if post %}
      {% assign case_study_posts = case_study_posts | push: post %}
    {% endif %}
  {% endfor %}

{% else %}
  {% assign case_study_posts = site.case-studies %}
{% endif %}

<section class="portfolio">
    
    {% if headline or intro %}
        <div class="container">
            <header class="post-header {{ page.cs_archive }}">
                {% if headline %}
                    <h1 class="post-title">{{ headline }}</h1>
                {% endif %}

                {% if intro %}
                    <p>{{ intro }}</p>
                {% endif %}
            </header>

            {% if page.cs_archive != "cs-archive" and intro == nil %}
                <div class="cs-intro">
                    <h2>Case Studies</h2>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="projects-grid three-projects">

        {% for post in case_study_posts %}
            {% include case-study-preview.html post=post index=forloop.index0 %}
        {% endfor %}

        </div>
    </div>

    {% include case-study-lightbox.html posts=case_study_posts %}

</section>