---
layout: default
---
<section class="single-writing">

  <div class="post-header">
    <h1 class="post-title"><span><span>{{ page.title | escape }}</span></span></h1>
    <p class="post-meta">
      {% if page.publisher %}
        <cite class="publisher">
          {% if page.published_url %}
            <a href="{{ page.published_url }}" target="_blank">{{ page.publisher }}</a>
          {% else %}
            {{ page.publisher }}
          {% endif %}
        </cite>
      {% endif %}
      {% if page.show_date == true %}
        <time class="date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.sscummings.date_format | default: "%-d %B %Y" %}
          {{ page.date | date: date_format }}
        </time>
      {% endif %}

      {% comment %} ###
        {% for category in page.categories %}
          {{ category }}
        {% endfor %}
      {% endcomment %}
    </p>
  </div>

  <div class="writing-preview">
    {{ content }}

    {% if page.published_url %}
      <div class="read-more">
        <a href="{{ page.published_url }}" target="_blank" class="read-more">
          {% if page.read_more %}{{ page.read_more }}{% else %}Read more{% endif %}
        </a>
      </div>
    {% endif %}
  </div>

</section>
