
.case-study-content {

    .cs-pre-title {
        text-transform: uppercase;
        margin-bottom: 0.25em;
    }
    
    h1 {
        line-height: 1.1;
    }

    h3 {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 0.2em;
    }

    @include mq-up($md-up) {
        width: 680px;
        margin: auto;
    }
    @include mq-up($lg-up) {
        width: 100%;
        max-width: $content-width-fluid;
        display: flex;
        gap: $grid-gutter-width;
        justify-content: space-between;

        .cs-main h3 {
            margin-bottom: 0.5em;
        }
    }
}

.cs-image-main {
    margin: $grid-gutter-width 0;
    
    @include mq-up($lg-up) {
        margin-top: 0;
    }
}

.case-study-meta {
    margin: $grid-gutter-width 0;
}
.cs-meta-item {
    margin: $grid-gutter-width*0.6 0;
}

.cs-role {
    list-style-type: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    width: calc(100% + 1em);

    @include mq-up($lg-up) {
        margin-left: -0.75em;
        margin-right: -0.75em;
        width: calc(100% + 1.5em);
    }

    li {
        display: inline-block;
        background-color: $lighter-gray;
        padding: 0.5em 1em;
        line-height: 1;
        margin: 0.3em 0.15em;
        border-radius: 1em;

        @include mq-up($lg-up) {
            margin: 0.25em 0.1em;
        }

        &.cs-context-lightbox {
            background-color: $darkest-gray;

            @include mq-up($lg-up) {
                background-color: darken($darkest-gray, 5%);
            }
        }
    }
}

.cs-section {
    margin: $grid-gutter-width 0;

    @include mq-up($sm-up) {
        margin: $grid-gutter-width*1.5 0;
    }
    @include mq-up($lg-up) {
        margin: $section-padding 0;
    }
}

.cs-image-block {
    margin: $grid-gutter-width*0.6 0;
    
    @include mq-up($sm-up) {
        margin: $grid-gutter-width*0.8 0;
    }
    @include mq-up($lg-up) {
        margin: $grid-gutter-width 0;
    }

    &.cs-image-center {
        width: 100%;

        > * {
            display: block;
            margin: auto;
        }
    }

    &.cs-max-height-window img {
        max-height: calc(100vh - #{$grid-gutter-width}*2);
    }
    
    &.cs-two-by-two {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: $grid-gutter-width/2;
        flex-wrap: wrap;
        
        > * {
            width: calc(50% - #{$grid-gutter-width}/4);
        }
    }

    &.cs-two-by-two-sm-up {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: $grid-gutter-width/2;
        flex-wrap: wrap;

        @include mq-up($sm-up) { 
            > * {
                width: calc(50% - #{$grid-gutter-width}/4);
            }
        }
    }
    
    &.cs-salad-programs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: $grid-gutter-width/2;
        flex-wrap: wrap;

        > * {
            width: calc(50% - #{$grid-gutter-width}/4);
        }

        @include mq-up($md-up) { 
            width: calc(680px + (100vw - 680px) - #{$grid-gutter-width}*2);
            margin-left: calc(-1 * ((100vw - 680px)/2 - #{$grid-gutter-width}));
            margin-right: calc(-1 * ((100vw - 680px)/2 - #{$grid-gutter-width}));

            > * {
                width: calc(25% - #{$grid-gutter-width}*3/8);
            }
        }

        @include mq-up($lg-up) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;

            > * {
                width: calc(50% - #{$grid-gutter-width}/4);
            }
        }
    }
}

$cs-overview-padding: clamp($grid-gutter-width/2, 2.5vw, $grid-gutter-width*1.15);
$cs-overview-padding-lg-lightbox: calc(#{$header-height} + #{$section-padding}/2);

.cs-overview {
    @include mq-up($lg-up) {
        width: calc(100%*5/12 - #{$grid-gutter-width}/2);
        max-width: 480px;

        p, ul, ol {
            font-size: $base-font-size;
        }

        .cs-overview-inner {
            position: sticky;
            top: $section-padding;
            padding: $cs-overview-padding;
            padding-bottom: $section-padding;
            max-height: 100vh;
            overflow-y: auto;
        }
    }
    // @include mq-up($xl-up) {
    //     width: calc(100%/3 - #{$grid-gutter-width}/2);
    // }
    
    &.cs-context-lightbox {
        @include mq-up($lg-up) {
            background-color: $darkest-gray;
            
            .cs-overview-inner {
                top: 0;
                padding-top: $cs-overview-padding-lg-lightbox;
            }
        }
    }
}

.cs-main {
    letter-spacing: 0.015em;

    @include mq-up($lg-up) {
        width: calc(100%*7/12 - #{$grid-gutter-width}/2);
        max-width: 700px;
        margin: auto;
        padding-top: $cs-overview-padding;
        padding-bottom: $section-padding;
        min-height: 100vh;
    }
    
    &.cs-context-lightbox {
        @include mq-up($lg-up) {
            padding-top: $cs-overview-padding-lg-lightbox;
        }
    }
}

.cs-footnote {
    font-size: 0.9em;
    padding-left: 0.75em;
    position: relative;

    &::before {
        content: "*";
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
    }
}

.image-inner-shadow.cs-mtr-shadow::after {
    box-shadow: inset 0 0 80px rgba(#FF7664, 0.2);
}