#case-study-lightbox {
    display:none;
    z-index:9999;
    position: fixed;
    inset: 0;
    background: $black;
    overflow-y: auto;
    color: $lightest-gray;
    padding: calc(#{$header-height} + #{$section-padding}) 0 $section-padding;

    @include mq-up($lg-up) {
        background: coral;
    }
}

.cs-slide {
  display:none;
}

.cs-lightbox-buttons {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: $header-height;
    padding: 0 $grid-gutter-width;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($darkest-gray, .8);
    backdrop-filter: blur(3px);

    @include mq-down($xs-down) {
        padding-right: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
    }
}

.cs-prev-next {
    display: flex;
    gap: 10px;
}

.cs-close {
    .icon svg {
        width: 13px;
        height: 13px;
    }
}

.cs-close, .cs-prev, .cs-next {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-color: $light-gray;
    cursor: pointer;

    &:hover {
        background-color: $lightest-gray;
    }
}

.cs-prev:not(.active), .cs-next:not(.active) {
    background-color: $gray-dark;
    cursor: inherit;
}
