/**
 * Footer
 */

.site-footer {
  padding: 0 0 $grid-gutter-width;

  .no-footer & {
	.footer-container {
  		display: none;
	}
  }

  .footer-nav {
	display: flex;
	justify-content: end;
	gap: 2em;
	padding: 0 0 2vw;
	font-size: $nav-font-size;
  }

	.page-link {
		color: $text-color;
		display: inline-block;
		margin-right: .5em;
	}
}

.footer-content {
	padding: 4vw 0;
}

.footer-title {
	color: $text-color;
	text-decoration: none;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	display: inline-block;

	&:hover {
		color: $text-color;
		text-decoration: none;
	}
}

// .contact-list,
// .social-media-list {
//   list-style: none;
//   margin-left: 0;
// }

// .footer-col {
//   float: left;
//   margin-bottom: $grid-gutter-width / 2;
//   padding-left: $grid-gutter-width / 2;
// }