/**
 * Footer
 */

.site-footer {
  padding-bottom: clamp(30px, 5vw, 40px);

  .no-footer & {
	.footer-container {
  		display: none;
	}
  }

	.footer-bottom {
		display: flex;
		flex-direction: column;
		font-size: $nav-font-size;

		@include mq-up($md-up) {
			flex-direction: row-reverse;
			justify-content: space-between;
			gap: 4em;
		}
	}

	.footer-nav {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-bottom: 80px;
		@include relative-font-size(1);
		text-align: center;

		@include mq-up($sm-up) {
			flex-direction: row;
			gap: 2.5em;
			margin-bottom: 60px;
			font-size: $nav-font-size;
		}
		@include mq-up($md-up) {
			margin-bottom: 0;
			display: block;
		}
	}

	.page-link {
		color: $text-color;
		@include mq-up($md-up) {
			padding: 0 20px;

			&:last-child {
				margin-right: -20px;
			}
		}
	}
}

.footer-content {
	padding-top: clamp(20px, 4vw, 20px);
	padding-bottom: clamp(40px, 10vw, 90px);
}

.footer-title {
	color: $text-color;
	text-decoration: none;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	display: inline-block;

	&:hover {
		color: $text-color;
		text-decoration: none;
	}
}

// .contact-list,
// .social-media-list {
//   list-style: none;
//   margin-left: 0;
// }

// .footer-col {
//   float: left;
//   margin-bottom: $grid-gutter-width / 2;
//   padding-left: $grid-gutter-width / 2;
// }