/**
 * Site header
 */
 
.site-header {
  min-height: $header-height;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1001;

  .no-header & {
    display: none;
  }

  // Positioning context for the mobile navigation icon
  position: relative;

  .site-title {
    @include relative-font-size(1.625);
    line-height: 1;
    // letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    transition: all .3s ease;

    &,
    &:visited {
      color: $text-color;
    }

    &:hover {
      opacity: .8;
    }
  }

  .site-nav {
    float: right;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 28px;

    .menu-icon {
      display: none;
    }

    .page-link {
      color: $text-color;
      line-height: $base-line-height;
      text-transform: lowercase;
    }

    // Nav variable
    $nav-height: 20px;

    // Nav
    .nav-wrapper {
      
      @include mq-down($sm-down) {
        height: 0;
        transition: all .5s ease;
        background: darken($bg-color, 3%);
        opacity: 0.9;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;

        .nav-list {
          display: block;
          padding: 55px 20px;

          li {
            margin-bottom: 1em;

            a {
              font-size: 1.25em;
              padding: .5em $grid-gutter-width/2;

              &:hover {
                background-color: $bg-color;
              }
            }
          }
        }

        &.open {
          height: 100vh;
          opacity: 1;
          .nav-list {
          }
        }
      }
      
      @include mq-up($md-up) {
        display: inline-block;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;

        a {
          transition: all .3s ease;
        }

        a,
        a:visited {
          display: block;
          padding: 0 10px;
          line-height: $nav-height;
          text-decoration: none;
          &:not(:only-child):after {
            padding-left: 4px;
            content: ' ▾';
          }
        }

        // @include mq-up($sm-up) {
        //   display: inline-block;
        //   &:last-child {
        //     margin-right: 5px;
        //   }
        // }

        @include mq-up($md-up) {
          display: inline-block;
          a,
          a:visited {
            padding: 0 20px;
          }
          a:hover {
            opacity: .8;
          }
          &:last-child {
            margin-right: 20px;
          }
        }

        @include mq-up($lg-up) {
          margin-right: 20px;

          &:last-child {
            margin-right: 35px;
          }
        }

        // Dropdown list
        ul li {
          min-width: 190px;
          a {
            padding: 15px;
            line-height: 20px;
          }
        }
      }
    }

    // Binds to JS Toggle
    .nav-open {
      display: inline-block;
      position: relative;
      top: 0;
      right: 0;
      height: $nav-height;
      width: $nav-height;
    }

    #nav-toggle {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      width: $nav-height;
      height: $nav-height;
      transition: all .3s ease;

      &:hover {
        opacity: .8;
      }

      span,
      span:before,
      span:after {
        cursor: pointer;
        height: 2px;
        width: $nav-height;
        background: $text-color;
        position: absolute;
        left: 0;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      span {
        top: calc((#{$nav-height} / 2) - (2px));
      }
      span:before {
        top: calc(-1 * ((#{$nav-height} / 2) - (2px)));
      }
      span:after {
        bottom: calc(-1 * ((#{$nav-height} / 2) - (2px)));
      }
      &.active span {
        background-color: transparent;
        transform: rotateZ(90deg);
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

}
