.lightboxOverlay {
	opacity: 0.9 !important;
}

.lightbox {
	display: none;

	&.open {
		display: block;
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: rgba($k, .9);
		z-index: 9999;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		
		.container {
			display: flex;
		}

		.lightbox-close {
			position: fixed;
			z-index: 3;
			top: 1%;
			right: 1%;
			font-size: 25px;
			cursor: pointer;
			color: $white;
			opacity: .5;

			&:hover {
				opacity: .8;
			}
		}

		.image-wrapper {
			position: relative;
			height: auto;
			max-width: 70vh*1.6;
			margin-left: auto;
			margin-right: auto;

			.image {
			}

			img {
				margin-left: auto;
				margin-right: auto;
			}

			.lightbox-next,
			.lightbox-prev {
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
				font-size: 25px;
				cursor: pointer;
				color: $white;
				opacity: .5;

				&:hover {
					opacity: .8;
				}
			}

			.lightbox-next {
				right: 1%;
			}
			.lightbox-prev {
				left: 1%;
			}

			@include mq-down($sm-down) {
				.lightbox-close {
					position: fixed;
					top: $grid-gutter-width;
					right: $grid-gutter-width;
				}
			}
			@include mq-down($xs-down) {
				.lightbox-close {
					position: fixed;
					top: $grid-gutter-width/2;
					right: $grid-gutter-width/2;
				}
				.lightbox-next,
				.lightbox-prev {
					top: auto;
					bottom: $grid-gutter-width;
				}

				.lightbox-next {
					right: $grid-gutter-width/2;
				}
				.lightbox-prev {
					left: $grid-gutter-width/2;
				}
			}
		}
	}

	img {
		max-height: 80vh;
		width: auto;
	}
}